* {
	padding: 0; /* внутренний отступ */
	margin: 0; /* внешний отступ */
	box-sizing: border-box; /* бокс модели */
}

@font-face {
	font-family: Roboto;
	src: url(../fonts/Roboto-Regular.ttf);
}

body {
	background-color: #efefef;
	font-family: Roboto;
}

main {
	width: 70%;
	padding: 50px;
	margin: auto;
	background-color: #fff;		
	display: flex;	
	flex-wrap: wrap; 
	justify-content: center;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}

.photo {
	width: calc(50% - 40px);
	height: calc((35vw - 40px) / 10 * 4);
	margin: 20px;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all 0.5s ease;
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
}


.photo:hover {
	transform: rotate(3deg) scale(1.07);
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.4);
}

h1 {
	width: 100%;
	text-align:  center;
	font-size: 48px;
}

.photo1 {
	background-image: url(../img/img1.png);
}

.photo2 {
	background-image: url(../img/img2.png);
}

.photo3 {
	background-image: url(../img/img3.png);
}

.photo4 {
	background-image: url(../img/img4.png);
}

.photo5 {
	background-image: url(../img/img5.png);
}

.photo6 {
	background-image: url(../img/img6.png);
}

.photo7 {
	background-image: url(../img/img7.png);
}

.photo8 {
	background-image: url(../img/img8.png);
}

.photo9 {
	background-image: url(../img/img9.png);
}

.photo10 {
	background-image: url(../img/img10.png);
}

.photo11 {
	background-image: url(../img/img11.png);
}

.photo12 {
	background-image: url(../img/img12.png);
}